<%= including 'header' %>

    <div id='wrapper'>
      <h3>Posts</h3>
      <ul>
        <%# statefuuuuuuuuuuuuuuuuuuuuuulness! %>
        <% page.each do |post| %>
        <% @this_year = Time.parse(post['timestamp']).year %>
        <% if @last_year.nil? or @last_year != @this_year %>
        <h4><%= Time.parse(post['timestamp']).year %></h4>
        <% end %>
        <% @last_year = @this_year %>

        <li><a href='<%= post['id'] %>'><%= post['title'] %></a>
        <% if Time.stamp(post['timestamp']) != '2007-10-13T00:00:01Z' %>
        &ndash; <span class='timestamp'><%= Time.stamp post['timestamp'] %></span></li>
        <% end %>
        <% end %>
      </ul>
    </div>

<%= including 'footer' %>
