<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
    <title>Technomancy</title>
    <script src="/static/jquery.js" type="text/javascript"></script>

    <link href="http://technomancy.us/feed/atom" rel="alternate" type="application/atom+xml"/>
    <link rel='stylesheet' href='/static/style.css' type='text/css' />
  </head>

  <body>

    <div id='background'>
      <img src='/static/i/top.png' alt='Technomancy' border='0' class='corner' />

      <div id='wrapper'> &nbsp;

      <div id='nav'>
        <ul>
          <li><a href='/'>blog</a></li>
          <li><a href='/resume'>r&eacute;sum&eacute;</a></li>
          <li><a href='/contact'>contact</a></li>
          <li><a href='/meta'>meta</a></li>
          <li><a href='http://dev.technomancy.us'>projects</a></li>
        </ul>

      </div><!-- end nav -->

      <p id='tagline'>Any sufficiently advanced technology is indistinguishable from magic.</p>

      <div id='content'>
	
	<%= template 'sidebar' %>

        <h2>{ blog }</h2>
      <% page.each do |post| %>
      <div class='post'>
        <h3><a href='/<%= post['id'] %>'><%= post['title'] %></a></h3>

        <div>
          <%= post['content'] %>
        </div>

        <p class='dt'>
          <a href='/<%= post['id'] %>'><%= Time.parse(post['timestamp']) %></a> |
          <% comment_count = parse("comments/#{post['id']}.json").length %>
          <a href='/<%= post['id'] %>#c'>
            <%= comment_count == 0 ? 'no' : comment_count %> comment<%= comment_count == 1 ? '' : 's' %></a>
        </p>
      </div>
      <% end %>
    </div>

    <p id='pages'>Page:
      <% (1 .. page_count).each do |this_page| %>
        <% if this_page == page_num %>
          <%= this_page %>
        <% else %>
          <a href='/page/<%= this_page %>'><%= this_page %></a>
        <% end %>
      <% end %>
    </p>

    <p id='foot'>
      &copy; 2004 - <%= Time.now.year %> Phil Hagelberg <span title='soli Deo gloria'>SDG</span>
    </p>

  </div><!-- end wrapper -->
  <img src='/static/i/foot.png' alt='' class='corner' style='display: block;' />

</div><!-- end background -->


</body></html>
