<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title><%= page['title'] %> - Technomancy</title>

    <link rel="alternate" href="/feed/atom.xml" title="Technomancy Feed" 
          type="application/atom+xml"/>
    <link rel="index" href='/list' />
    <% if File.exist? "posts/#{page['id'].to_i + 1}.yml" %><link rel="next" href='/<%= page['id'].to_i + 1 %>' /><% end %>
    <% if File.exist? "posts/#{page['id'].to_i - 1}.yml" %><link rel="prev" href='/<%= page['id'].to_i - 1 %>' /><% end %>
    <% $nodeploy = true if page['draft'] %>
  </head>

  <body>
    <div id="container">
      <div id="logo">
        <a href='/list'><img src='/i/technomancy.png' alt='Technomancy' /></a>
      </div>
      <h1><a href='/<%= page['id'] %>'><%= page['title'] %></a></h1>

      <% if File.exist? "posts/#{page['id'].to_i - 1}.yml" %><p id="bigleft"><a href='/<%= page['id'].to_i - 1 %>'>&laquo;</a></p><% end %>
      <% if File.exist? "posts/#{page['id'].to_i + 1}.yml" %><p id="bigright"><a href='/<%= page['id'].to_i + 1 %>'>&raquo;</a></p><% end %>

      <div id='entry'><%= page['content'] %>
        <p class='timestamp'>
          <% if File.exist? "posts/#{page['id'].to_i - 1}.yml" %><a href='/<%= page['id'].to_i - 1 %>'>&laquo; older</a> |<% end %>
          <a href='/<%= page['id'] %>'><%= Time.stamp page['timestamp'] %></a>
          <% if File.exist? "posts/#{page['id'].to_i + 1}.yml" %>| <a href='/<%= page['id'].to_i + 1 %>'>newer &raquo;</a><% end %></p>
      </div>

<%= including "footer" %>
