<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title><%= page['title'] %> - Technomancy</title>
    <script src="/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function () { $('#spammers').val('suck'); });
    </script>

    <link rel="alternate" href="/feed/atom.xml" title="Technomancy Feed" type="application/atom+xml"/>
    <link rel="index" href='/list' />
    <% if File.exist? "posts/#{page['id'].to_i + 1}.yml" %><link rel="next" href='/<%= page['id'].to_i + 1 %>' /><% end %>
    <% if File.exist? "posts/#{page['id'].to_i - 1}.yml" %><link rel="prev" href='/<%= page['id'].to_i - 1 %>' /><% end %>
  </head>

  <body>
    <h1><a href='/list'><img src='/i/technomancy.png' alt='Technomancy' /></a>
    <a href='/<%= page['id'] %>'><%= page['title'] %></a></h1>

    <div id='entry'><%= page['content'] %>
    <p class='timestamp'>
      <% if File.exist? "posts/#{page['id'].to_i - 1}.yml" %><a href='/<%= page['id'].to_i - 1 %>'>&laquo;</a><% end %>
      <a href='/<%= page['id'] %>'><%= Time.stamp page['timestamp'] %></a>
      <% if File.exist? "posts/#{page['id'].to_i + 1}.yml" %><a href='/<%= page['id'].to_i + 1 %>'>&raquo;</a><% end %></p>
    </div>

    <div id='comments'>
      <dl>
        <% parse("comments/#{page['id']}.yml").sort_by {|c| Time.stamp(c['timestamp']) }.each do |comment| %>
        <dt><%= comment['uri'].to_s == '' ? comment['author'] : "<a href='#{comment['uri']}' rel='nofollow'>#{comment['author']}</a>" %> 
        &ndash; <span class='timestamp'><%= Time.stamp comment['timestamp'] %></span></dt>
        <dd><%= comment['content'].gsub(/[\r\n]/, "<br />") %></dd>
        <% end %>
      </dl>
      <form action='/comment.cgi' method='post'>
        <p><input type='text' name='author' /> Name</p>
        <p><input type='text' name='uri' /> URL</p>
        
        <input type='hidden' name='post_id' value='<%= page['id'] %>' />
        <input type='hidden' name='spammers' id='spammers' value='are ok' />

        <textarea name='content' rows='15' cols='60'></textarea>
        <p><input type='submit' value='Post a Comment' /></p>
        <p>HTML will be escaped for now. Comments are currently moderated; sorry.</p>
      </form>
    </div>

<%= including "footer" %>
